<button {{action (mut needRefresh) true}}>Refresh</button>
{{#scroll-paging 
    needRefresh=needRefresh
    refreshCompleted=(action (mut needRefresh) false)
    itemHeight=30 
    pageSize=20
    onRequestPage=(action 'loadPage')
    as |item|}}
    <div style='height:50px;'>
        {{item.name}}
    </div>
{{else}}
    <div style='height:60px;'>
        Loading...
    </div>
{{/scroll-paging}}
